In [2]:
import pandas as pd

In [13]:
X_train = pd.read_csv("train.csv")
y_train = pd.read_csv("train_label.csv")

In [11]:
X_test = pd.read_csv("test.csv")
y_test = pd.read_csv("test_label.csv")

In [9]:
display(X_train.head(), X_train.shape)

,Unnamed: 0,v0,v1,v2,v3,v4,v5,v6,v7,v8,...,ae61,ae62,ae63,ae64,ae65,ae66,ae67,ae68,d69,d70
0,1651,0.00,143270.10,100.0,0.0,0.0,63090564.44,4199850.00,0.0,6240000.0,...,0,0,0,0,0,0,0,0,0,0
1,1370,0.00,1403461.97,90.0,10.0,29.0,8013913.78,8177030.69,44951.9,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2649,19800.24,63401.41,100.0,0.0,0.0,323384.60,67610.22,0.0,0.0,...,1,0,0,0,0,0,0,0,1,0
3,564,0.00,10585032.22,100.0,0.0,5.0,29596681.95,186964.54,0.0,4500000.0,...,0,0,0,0,0,0,0,0,0,0
4,2728,0.00,11259663.09,78.0,22.0,0.0,33626595.71,0.00,0.0,3972827.7,...,0,1,0,0,0,0,0,0,0,0

(2189, 72)

Entiendo que los valores ya fueron convertidos a OneHotEnconder, y que cada una de las letras representan una variable y el número que lo acompaña representa la categoria de dicha varible

In [23]:
y_train.columns = ["output"]
y_test.columns = ["output"]

In [40]:
#Corroboramos el porcentaje de imbalance data dentro del dataaset
imbalance = y_train.output.value_counts()
imbalance_result = [x/imbalance.sum()*100 for x in imbalance]
pd.DataFrame(imbalance_result, index=["Pagado a Tiempo", "No Pagado a Tiempo"], columns=["Proporcion (%)"])

                    Proporcion (%)
Pagado a Tiempo          80.393053
No Pagado a Tiempo       19.606947

In [44]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler